@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    margin: 0;
    padding: 0;
}
.section-1{
    background-color: black;
    height: 100vh;
}
.nav-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    padding: 10px 0;
    
}
.nav > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 0 5px;
}
.nav > button:hover{
    color: red;
}
.red-p{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: larger;
    color: red;
}
.title{
    font-size: 24px;
    color: white;
}
.section-1-writing > h1{
    font-size: 64px;
    color: white;
    margin: 0;
}
.section-1-writing > button{
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
}
.content{
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.half > img{
    height: 100%;
    width: 100%;
}

.section-2{
    background-color: #fff;
}
.section-2 > h1{
    font-size: 48px;
    text-align: center;
}
.card{
    border: 1px solid red;
    text-align: center;
    height: 205px;
    margin: 0 15px;
    padding: 25px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 7px grey;
}
.card > img{
    width: 25%;
}
.card > p{
    text-align: justify;
    margin: 0 15px;
}
.cards{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.section-3{
    height: 110vh;
    background-color: rgb(16,15,15);
}
.about{
    display: flex;
    height: 100vh;
}
.section-3 > h1{
    color: white;
    text-align: center;
    font-size: 52px;
    margin-bottom: 5px;
}
.first-about{
    display: flex;
    border-top: 1px solid red;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 50px;
    width: 50%;
}
.first-about > img {
    width: 80%;
    height: 90%;
    margin: 0 15px;
    transform: skewY(-15deg);
}
.second-about{
    border-top: 1px solid grey;
    color: white;
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}
.second-about > h1{
    font-size: 44px;
    color: white;
}
#btn{
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.section-4{
    text-align: center;
    height: 70vh;
}
.banner{
    background-image: url("images/shape/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 100%;
}
.chat-btn{
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}
.align{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 70vh;
}
.banner-header{
    margin-right: 28px;
    color: #fff;
    font-size: 32px;
}